* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    transition: 0.5;
}

body{
    height: 100%;
    width: 100%;
}

/* Fonts */
@font-face {
    font-family: Airbus-Font;
    src: url(../fonts/aispec.ttf)
}

/* Aimations */
@keyframes fromTop {
    0% {
        transform: translateY(-50px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

@keyframes opacity {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.base-font,
h1 {
    font-family: "Poppins", sans-serif;
}

/* Header */
header,
.navigation-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header {
    height: 50px;
    width: 100%;
    background-color: #15232d;
    z-index: 998;
    position: fixed;
    animation: fromTop 0.8s ease-out;
    justify-content: space-between;
    padding: 0 5%;
}

.img-logo-header {
    max-width: 160px;
    width: auto;
    transition: 0.5s;
}

.navigation-header {
    gap: 2.5rem;
}

.navigation-header a {
    text-decoration: none;
    color: #e1eaf0;
    font-weight: 700;
    font-size: 1.2rem;
    transition: 0.5s;
}

.navigation-header a:hover {
    color: #b3bbc0;
}

/* Header text */
.base-page {
    opacity: 0%;
    animation: opacity 0.5s 0.6s ease-out;
}

.header-text-wrap {
    padding-top: 50px;
    opacity: 0%;
    animation: opacity 0.5s 0.6s ease-out;
}

.header-text {
    padding: 6% 8% !important;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: #15232d;
}

/* Forms */
.forms-wrap {
    display: flex;
    flex-direction: column;
    padding: 0 3%;
    gap: 1vh;
    transition: 0.5s;
    max-width: 50%;
    min-width: 900px;
}

.forms-wrap h3 {
    font-size: 1.8rem;
}

.header-text h1 {
    font-family: "Airbus-Font";
    font-weight: 800;
}

.header-text p {
    font-weight: 400;
    font-size: 1.07rem;
}

.btn-primary {
    background-color: #15232d;
    border-color: #15232d;
}

.btn-primary:hover {
    background-color: #111b22;
    border-color: #111b22;
}

.btn-primary:focus {
    background-color: #15232d;
    border-color: #15232d;
    box-shadow: 0 0 0 0.25rem #15232d85;
}

.btn-primary:active {
    background-color: #15232d;
    border-color: #15232d;
}

.form-control:focus {
    border-color: #15232d93 !important;
    box-shadow: 0 0 0 0.25rem #15232d4b !important;
}

.models-wrap {
    transition: 0.5s;
    display: none;
    transition: 0.5s;
    padding: 5%;
    flex-direction: column;
}

.models-wrap h5 {
    justify-content: center;
    text-align: center;
}

.line-wrap {
    padding: 0 8%;
}

.models-line {
    border-top: 1px solid #15232d;
    margin: 10px 0;
}

.select-menus {
    padding: 2%;
}

.button-wrap {
    padding: 2%;
    display: flex;
    gap: 10px;
    transition: 0.5s;
    flex-wrap: wrap;
}

.form-select:focus {
    border-color: #15232d93 !important;
    box-shadow: 0 0 0 0.25rem #15232d4b !important;
}

.btn-outline-secondary {
    border-color: #b3bbc0;
}

.btn-outline-secondary:active {
    background-color: #b3bbc0;
    border-color: #b3bbc0;
}

.btn-outline-secondary:hover {
    background-color: #b3bbc0;
    border-color: #b3bbc0;
}

.modal-title {
    font-weight: 800 !important;
}

.prices-wrap {
    display: flex;
    flex-direction: column;
    gap: 3.2vh;
}

.hidden-prices {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
}

.showTotal {
    display: flex;
    font-weight: 700 !important;
    font-size: 1.08rem;
    margin-top: 1rem;
}

.showTotal p {
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-bottom: .7rem;
    margin-top: .7rem;
}

/* Image Forms */
.image-forms {
    transform: 0.5s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    padding: 4%;
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
}

.forms-and-image {
    display: flex;
    justify-content: space-around;
    padding: 0%;
    transition: 0.5s;
}

@media (max-width: 768px) {

    /* Header Config */
    header {
        padding: 0 3%;
    }

    .navigation-header a {
        font-size: 1.1rem;
    }

    .img-logo-header {
        max-width: 120px;
        width: auto;
    }

    .form-floating {
        transition: 0.5s;
        max-width: 100%;
    }

    .forms-wrap {
        transition: 0.5s;
        max-width: 100%;
    }

    .models-wrap {
        transition: 0.5s;
        padding: 1%;
    }

    .image-forms {
        transition: 0.5s;
        display: none;
    }
}

@media (max-width: 480px) {

    /* Header Config */
    header {
        padding: 0 3%;
    }

    .navigation-header a {
        font-size: 1rem;
    }
}

@media (max-width: 1400px) {

    .forms-and-image{
        padding: 4%;
        transition: 0.5s;
    }

    .forms-wrap{
        min-width: auto;
    }
    
    .image-forms{
        transition: 0.5s;
        max-width: 550px;
    }
}


.visible {
    opacity: 1;
}
