* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: Airbus-Font;
    src: url(../fonts/aispec.ttf)
}

.base-font,
h1 {
    font-family: "Poppins", sans-serif;
}

/* Aimations */
@keyframes fromTop {
    0% {
        transform: translateY(-50px);
        opacity: 0%;
    }

    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

@keyframes opacity {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

body{
	position: fixed;
	width: 100%;
	height: 100%;
}

.big-wrap{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.overlay{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.5);
	z-index: 0;
}

#video{
	position: absolute;
	z-index: -1;
	min-height:100%;
	min-width:100%;
	width:100%;
	height:100%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	object-fit: cover;
}
/* Text */
.welcome{
	position: relative;

	font-family: "Poppins", sans-serif;
	font-weight: 800;
	color: white;
	z-index: 1;
}

.img-logo{
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto; /* Centraliza a imagem horizontalmente */

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}

.visible {
    opacity: 1;
}


.buttons-wrap{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;

}

.btn-primary {
    background-color: #15232d;
    border-color: #15232d;
	max-width: 130px;
	width: 100%;
	display: block;
	margin: auto; 
}

.btn-primary:hover {
    background-color: #111b22;
    border-color: #111b22;
}

.btn-primary:focus {
    background-color: #15232d;
    border-color: #15232d;
    box-shadow: 0 0 0 0.25rem #15232d85;
}

.btn-primary:active {
    background-color: #15232d;
    border-color: #15232d;
}
