*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: Airbus-Font;
    src: url(../fonts/aispec.ttf)
} 

.base-font, h1{
    font-family: "Poppins", sans-serif;
}

/* Aimations */
@keyframes fromTop{
    0%{
        transform: translateY(-50px);
        opacity: 0%;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}

@keyframes opacity{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

/* Header Config */
header, .navigation-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header{
    height: 50px;
    width: 100%;
    background-color: #15232d;
    z-index: 999;
    position: fixed;
    animation: fromTop 0.8s ease-out;
    justify-content: space-between;
    padding: 0 5%;
}

.img-logo-header{
    max-width: 160px;
    width: auto;
}

.navigation-header{
    gap: 2.5em;
}

.navigation-header a{
    text-decoration: none;
    color: #e1eaf0;
    font-weight: 700;
    font-size: 1.2rem;
    transition: 0.5s;
}

.navigation-header a:hover{
    color: #b3bbc0;
}


/* Apresentation */
.apresentation-wrap{
    position: relative;
    padding-top: 50px;
    opacity: 0;
    animation: opacity 0.5s 0.6s ease-out;
    color: white;
    display: flex;
    align-items: center;
}

.apresentation-text{
    position: absolute;
    padding: 0 15%;
    z-index: 2;
}

.apresentation-text h2{
    font-weight: 800;
    font-style: normal;
}

.apresentation-text a{
    font-weight: 500;
    font-style: normal;
}

.carousel {
    position: relative;
    z-index: 1;
}

.carousel-item{
    filter: blur(1.8px);
    position: relative;
    height: 450px;
    overflow: hidden;
}

.carousel-item img{
    width: 100%;
    height: auto;
    display: block;
    margin-top: -15%;
}

.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}



@media (max-width: 1080px) {
    .carousel-item{
        height: auto;
    }
    
}


@media (max-width: 768px) {
    header {
        padding: 0 3%; 
    }

    .apresentation-text {
        padding: 0 3%;
    }

    .apresentation-text h2{
        font-size: 2.5vh;
    }
    .apresentation-text p{
        font-size: 1.3vh;
    }

    .carousel-item img{
        margin-top: auto;
    }
    
}

@media (max-width <= 480px) {
    header {
        padding: 0 2%; 
    }
    
    .apresentation-text {
        padding: 0 2%;
    }

    .apresentation-text h2{
        font-size: 1vh;
    }
    .apresentation-text p{
        font-size: 1vh;
    }
}
/* All models wrap */
.models-wrap{
    padding: 0 7%;
    opacity: 0;
    animation: opacity 0.5s 0.9s ease-in;
}
/* H2 Modelos */
.text-international-wrap{
    padding-top: 2%;
    display: flex;
    align-items: center;
    color: #26333b;
    justify-content: space-between;
}

.text-international-wrap h2{
    font-weight: 700;
    font-size: 4.2vh;
}

.text-international-wrap h3{
    font-weight: 300;
    font-size: 3.1vh;
}

.models-line{
    border-top: 1px solid #15232d;
    margin: 10px 0; 
}

/* Plane Models Style */

.models-text-base{
    display: flex;
    align-items: center;
    color: #26333b;
    justify-content: right;
}

.models-text-base h3{
    font-weight: 300;
    font-size: 3.1vh;
}
.visible {
    opacity: 1;
}