* {
	margin: 0;
	padding: 0%;
	box-sizing: border-box;
}

/* Fonts */
@font-face {
	font-family: Airbus-Font;
	src: url(../fonts/aispec.ttf)
}

.base-font,
h1 {
	font-family: "Poppins", sans-serif;
}

/* Aimations */
@keyframes fromTop {
	0% {
		transform: translateY(-50px);
		opacity: 0%;
	}

	100% {
		transform: translateY(0px);
		opacity: 100%;
	}
}

@keyframes opacity {
	0% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}

body {
	position: fixed;
	width: 100%;
	height: 100%;
}

.big-wrap {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 0;
}

#video {
	position: absolute;
	z-index: -1;
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	object-fit: cover;
}

/* Text */
.text-center {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	color: white;
	z-index: 1;
	gap: .5vh;

}

.img-logo {
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
}
.visible {
	opacity: 1;
}


.buttons-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1vh;

}

/* CSS */
.button-36 {
	background-image: linear-gradient(49deg, rgba(42, 13, 74, 1) 0%, rgba(25, 59, 111, 1) 56%, rgba(85, 50, 122, 1) 100%);
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	flex-shrink: 0;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 500;
	height: 3.2rem;
	padding: 0 1.6rem;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
	transition: all .5s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	max-width: 175px;
	width: 100%;
	display: block;
	margin: auto;
}

.button-36:hover {
	box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
	transition-duration: .1s;
}

@media (max-width: 480px) {
	.button-36{
		transition: .5s;	
		max-width: auto;
		width: auto;
	}
}
